exclude: '^scripts/|^docs/|^build/|^tests/|^dist/|^venv/|\.venv/|\.egg-info/|\.tox/|\.mypy_cache/|\.mjml_cache/|\.pytest_cache/|\.coverage$'
default_stages: [pre-commit]


default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: debug-statements
      - id: detect-private-key
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-json
      - id: check-toml
      - id: check-yaml

  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        files: ^src/.*\.py$
        args: ['--line-length=120']

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        files: ^src/.*\.py$
        args: ['--profile', 'black', '--line-length', '120']

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        files: ^src/.*\.py$
        additional_dependencies: [
          'sqlalchemy[mypy]',
        ]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        files: ^src/.*\.py$
        args: [--fix, --ignore=I]


  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.3
    hooks:
      - id: bandit
        files: ^src/.*\.py$
        args: ['-c', 'pyproject.toml', '-r', '.']
        additional_dependencies: ['bandit[toml]']
